<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HealthSearch.HealthSearchRestService" behaviorConfiguration="HealthSearchRestServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HealthSearch.IHealthSearchRestService" behaviorConfiguration="HealthSearchRestServiceEndpointBehavior">
          
        </endpoint>
      </service>
      <service name="HealthSearch.HealthSearchSoapService" behaviorConfiguration="HealthSearchSoapServiceBehavior">
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HealthSearchRestServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="HealthSearchSoapServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="HealthSearchRestServiceEndpointBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    
    <!--
        Dados para ligação a base de dados local
        
        
    <add name="HealthSearchEntitiesLocalizacao" 
         connectionString="metadata=res://*/ModelLocalizacao.csdl|
              res://*/ModelLocalizacao.ssdl|
              res://*/ModelLocalizacao.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot; data source=JOOFARIAC952;initial catalog=HealthSearch;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesServico" 
         connectionString="metadata=res://*/ModelServico.csdl|
              res://*/ModelServico.ssdl|
              res://*/ModelServico.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot;data source=JOOFARIAC952;initial catalog=HealthSearch;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesPrestador" 
         connectionString="metadata=res://*/ModelPrestador.csdl|
              res://*/ModelPrestador.ssdl|
              res://*/ModelPrestador.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot;data source=JOOFARIAC952;initial catalog=HealthSearch;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesPrestadorServico" 
         connectionString="metadata=res://*/ModelPrestadorServico.csdl|
              res://*/ModelPrestadorServico.ssdl|
              res://*/ModelPrestadorServico.msl;
            provider=System.Data.SqlClient;provider connection string=&quot;data source=JOOFARIAC952;initial catalog=HealthSearch;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesVwPrestadorLocalizacao" 
         connectionString="metadata=res://*/ViewVwPrestadorLocalizacao.csdl|
              res://*/ViewVwPrestadorLocalizacao.ssdl|
              res://*/ViewVwPrestadorLocalizacao.msl;
            provider=System.Data.SqlClient;provider connection string=&quot;data source=JOOFARIAC952;initial catalog=HealthSearch;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesSpLimparTabelas" 
         connectionString="metadata=res://*/StoredProcedureSpLimparTabelas.csdl|
              res://*/StoredProcedureSpLimparTabelas.ssdl|
              res://*/StoredProcedureSpLimparTabelas.msl;
            provider=System.Data.SqlClient;provider connection string=&quot;data source=JOOFARIAC952;initial catalog=HealthSearch;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    -->
    
    <!--
      Dados para acesso a base de dados Azure
    -->

    <add name="HealthSearchEntitiesLocalizacao"
     connectionString="metadata=res://*/ModelLocalizacao.csdl|
              res://*/ModelLocalizacao.ssdl|
              res://*/ModelLocalizacao.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot; data source=jzof0dzh7f.database.windows.net;
                initial catalog=HealthSearch;
                User ID=user;
                Password=Abc123abc;
                MultipleActiveResultSets=False;
                App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesServico"
         connectionString="metadata=res://*/ModelServico.csdl|
              res://*/ModelServico.ssdl|
              res://*/ModelServico.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot; data source=jzof0dzh7f.database.windows.net;
                initial catalog=HealthSearch;
                User ID=user;
                Password=Abc123abc;
                MultipleActiveResultSets=False;
                application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesPrestador"
         connectionString="metadata=res://*/ModelPrestador.csdl|
              res://*/ModelPrestador.ssdl|
              res://*/ModelPrestador.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot; data source=jzof0dzh7f.database.windows.net;
                initial catalog=HealthSearch;
                User ID=user;
                Password=Abc123abc;
                MultipleActiveResultSets=False;
                application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesPrestadorServico"
         connectionString="metadata=res://*/ModelPrestadorServico.csdl|
              res://*/ModelPrestadorServico.ssdl|
              res://*/ModelPrestadorServico.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot; data source=jzof0dzh7f.database.windows.net;
                initial catalog=HealthSearch;
                User ID=user;
                Password=Abc123abc;
                MultipleActiveResultSets=False;
                application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesVwPrestadorLocalizacao"
         connectionString="metadata=res://*/ViewVwPrestadorLocalizacao.csdl|
              res://*/ViewVwPrestadorLocalizacao.ssdl|
              res://*/ViewVwPrestadorLocalizacao.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot; data source=jzof0dzh7f.database.windows.net;
                initial catalog=HealthSearch;
                User ID=user;
                Password=Abc123abc;
                MultipleActiveResultSets=False;
                application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="HealthSearchEntitiesSpLimparTabelas"
         connectionString="metadata=res://*/StoredProcedureSpLimparTabelas.csdl|
              res://*/StoredProcedureSpLimparTabelas.ssdl|
              res://*/StoredProcedureSpLimparTabelas.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot; data source=jzof0dzh7f.database.windows.net;
                initial catalog=HealthSearch;
                User ID=user;
                Password=Abc123abc;
                MultipleActiveResultSets=False;
                application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>